<div class="col-md-1 my-3 d-flex flex-md-column flex-sm-row column-gap-5 row-gap-3 left-navMain">
    <a href="/ayarlar/league" class="d-flex">
        <img src="/img/ball.svg" width="30px" height="30px" alt="Lig Logosu" title="Lig Ayarları">
        <p class="navbarText visually-hidden">Lig Ayarları</p>
    </a>
    <a href="/ayarlar/team" class="d-flex">
        <img src="/img/jersey.svg" width="30px" height="30px" alt="Takım Logosu" title="Takım Ayarları">
        <p class="navbarText visually-hidden">Takım Ayarları</p>

    </a>
    <a href="/ayarlar/referee" class="d-flex">
        <img src="/img/referee.svg" width="30px" height="30px" alt="Hakem Logosu" title="Hakem Ayarları">
        <p class="navbarText visually-hidden">Hakem Ayarları</p>

    </a>
    <a href="/ayarlar/fixture" class="d-flex">
        <img src="/img/calendar.svg" width="30px" height="30px" alt="Fikstür Logosu" title="Fikstür Ayarları">
        <p class="navbarText visually-hidden">Fikstür Ayarları</p>
    </a>
    <a href="/ayarlar/system-settings">
        <i class="fa-solid fa-gear text-center" style="font-size: 30px;"></i>
    </a>
</div>