<div class="col-md-1 my-3 d-flex d-flex flex-column row-gap-3 navbarActivator">
    <a href="/ayarlar/league" class="d-flex">
        <i class="fa-solid fa-list" width="30px" height="30px"></i>
    </a>
    <a href="/ayarlar/team" class="d-flex">
        <i class="fa-solid fa-house" width="30px" height="30px"></i>
    </a>
</div>