<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <a href="/fikstur/refereeSearch">
                <div class="uk-card uk-card-secondary uk-card-hover uk-card-body">
                    <h3 class="uk-card-title">Hakem <img src="/img/referee.svg" width="30px" height="30px"
                            style="float:right;opacity:0.5;"></h3>
                    <p>Hakem Sayısı:{{refereeCount}}</p>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">Lig <img src="/img/ball.svg" width="30px" height="30px" style="float:right;">
                </h3>
                <p>Lig Sayısı:{{leagueCount}} </p>
            </div>
        </div>
        <div class="col-md-4">
            <a href="/fikstur">
                <div class="uk-card uk-card-hover uk-card-body uk-light" style="background-color: #32d296;">
                    <h3 class="uk-card-title">Fikstür<img src="/img/ball.svg" width="30px" height="30px"
                            style="float:right;">
                    </h3>
                    <p>Oluşturulan Maç Sayısı:{{fixtureCount}}</p>
                </div>
            </a>
        </div>
    </div>
</div>