@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');

@media only screen and (max-width: 768px) { 
  .left-navMain {
    display: flex !important;
    justify-content: center;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
  background-color: #f9f7f7e0;
}

ul>li {
  list-style: none;
}

.bg-photo {
  background-image: url(" /img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}


.plusButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 16px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  margin-left: 1em;
  border-radius: 5em;
}

.hiddenAnimation {
  animation-name: hiddenAnimation;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  /* Son animasyon durumunu koru */
}

@keyframes hiddenAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

a {
  color: inherit !important;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.03);
  -webkit-box-shadow: 10px 10px 83px -10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 10px 10px 83px -10px rgba(0, 0, 0, 0.15);
  box-shadow: 10px 10px 83px -10px rgba(0, 0, 0, 0.15);
}

.ui-state-highlight {
  border: 0 !important;
}

.ui-state-highlight a {
  background: #363636 !important;
  color: #fff !important;
}

