<div class="navbar-expand-lg bg-dark rounded-bottom">
    <p class="text-white mx-3 fs-6">Giriş Sayfası</p>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="uk-card uk-card-default uk-card-large uk-card-body uk-card-hover justify-content-center col-md-6 my-3">
            <h3 class="uk-card-title text-center">Hakemata Kullanıcı Giriş Sayfası</h3>
            <div class="row">
                <form action="/users/login" method="POST">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <input class="uk-input" type="text" name="username" required placeholder="Kullanıcı Adı"
                                aria-label="Kullanıcı Adı">
                        </div>
                    </div>
                    <div class="row justify-content-center my-3">
                        <div class="col-md-8 ">
                            <input class="uk-input" type="password" name="password" required
                                placeholder="Şifre" aria-label="Şifre">
                        </div>
                    </div>


                    <div class="row justify-content-center column-gap-2" style="">
                        <button class="greenButton col-md-5" type="submit">Giriş Yap</button>
                        <button class="cancelButton col-md-5" onclick="window.location.href='/users/register'">Kayıt
                            Ol</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

{{>sessionFlashMessage}}