<div class="barColor"
    style="background-color: rgb(19, 19, 35); width: 100%; text-align:end; color:white; padding-top:0.5em; padding-right:0.7em; opacity:0.8">
</div>
</div>
</div>
<div class="locations">
    <ul class="locationsList">
        <li>Optimizasyon > Ana Sayfa</li>
        <li><i class="fa-solid fa-circle-question"></i></li>
    </ul>
</div>
</nav>

<div class="mainPage">
    <section class="leftNagi">
        <ul class="leftBar">
            <li style="font-size: 1.33em;"><i class="fa-solid fa-list"></i></li>
            <li><i class="fa-solid fa-house"></i></li>
        </ul>
    </section>
    <div class="boxSettings">
        <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
                <tr>
                    <th class=" uk-text-center uk-text-middle">Optimizasyon Katsayıları</th>
                    <th class=" uk-text-center">Değerler</th>
                    <th class=" uk-text-center">Cezası</th>

                </tr>
            </thead>
            <tbody>
                 <tr>
                    <td class="uk-text-center">Hakeme atanabilecek maksimum maç sayısı
                    </td>
                    <td class="uk-text-center">
                        <div class="input-container">
                            <input type="number" name="" required="" min="0" value="">
                        </div>
                    </td>
                    <td>
                        <div class="input-container">
                            <input type="number" name="" required="" min="0" value="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <form action="">
                        <td class="uk-text-center">Hakemin bir roundda yönetebileceği maksimum maç sayısı </td>
                        <td class="uk-text-center">
                            <div class="input-container">
                                <input type="number" name="" required="" min="0" value="">
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <input type="number" name="" required="" min="0" value="">
                            </div>
                        </td>
                    </form>
                </tr>
                <tr>
                    <td class="uk-text-center">Hakemin bir günde yönetebileceği maksimum maç sayısı</td>
                    <td class="uk-text-center">
                        <div class="input-container">
                            <input type="number" name="" required="" min="0" value="">
                        </div>
                    </td>
                    <td>
                        <div class="input-container">
                            <input type="number" name="" required="" min="0" value="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-center">Hakemin bir ligde yönetebileceği maksimum maç sayısı</td>
                    <td class="uk-text-center">
                        <div class="input-container">
                            <input type="number" name="" required="" min="0" value="">
                        </div>
                    </td>
                    <td>
                        <div class="input-container">
                            <input type="number" name="" required="" min="0" value="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-center">Hakemin bir takıma ait yönetebileceği maksimum maç sayısı
                    </td>
                    <td class="uk-text-center">
                        <div class="input-container">
                            <input type="number" name="" required="" min="0" value="">
                        </div>
                    </td>
                    <td>
                        <div class="input-container">
                            <input type="number" name="" required="" min="0" value="">
                        </div>
                    </td>
                </tr>
               
                <tr>
                    <td class="uk-text-center">Hakemin bir takıma tekrar atanması için beklenecek hafta sayısı
                    </td>
                    <td class="uk-text-center">
                        <div class="input-container">
                            <input type="number" name="" required="" min="0" value="">
                        </div>
                    </td>
                    <td>
                        <div class="input-container">
                            <input type="number" name="" required="" min="0" value="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-center">Hakemin kaç haftada bir dinleneceği
                    </td>
                    <td class="uk-text-center">
                        <div class="input-container">
                            <input type="number" name="" required="" min="0" value="">
                        </div>
                    </td>
                    <td>
                        <div class="input-container">
                            <input type="number" name="" required="" min="0" value="">
                        </div>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>